* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: #1c7ccc;
}

.button {
  background-color: rgba(255, 148, 0, 1);
  color: black;
  padding: 0.5rem 1rem;
  font-size: larger;
  font-weight: 500;
  border-radius: 8px;
}

.button:hover {
  color: aliceblue;
  background-color: rgba(255, 148, 0, 0.7);

}

.popup {
  width: 50%;
  border: 2px solid beige;
  background-color: #CFF4FC;
  margin: 10% auto;
  padding: 2rem;
  text-align: center;
  display: none;
  border-radius: 1rem;
}
.popup-para{
  margin: 1.75em;
  font-size: 1.25rem;
}
.popup-container{
  z-index: 99999;
position: absolute;
width: 100%;
height: 100%;
}
.blur-filter {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

header {
    position: relative;
    top: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: whitesmoke;
  width: 31.25rem;
  height: fit-content;
  padding: 0 1em;
}

.container {
  position: relative;
  top: 3em;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.5em;
  height: fit-content;
}

.flip-card {
  
  background-color: transparent;
  
  width: 6.25rem;
  height: 6.25rem;
  perspective: 1000px; /*Remove this if you don't want the 3D effect*/
  

  
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  
  
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/* .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
} */

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 0.5em;
 
}

.flip-card-front:hover{
  background-color: #07ca89;

}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
  background-color: #45daa8;
  
  background-image: url('../images/question-mark.svg');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  background-color: #45daa8;
  color: white;
  transform: rotateY(180deg);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
#popup-effected-blur-area{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .container{
    grid-template-columns: repeat(4, 1fr);
    top: 4em;
  }
  .flip-card{
    width: 5rem;
    height: 5rem;
  }
  header{
    width: 85%;
    padding: 0;
    top: 2em;
    font-size: 0.95rem;
  }
  .popup{
    width: 85%;
    padding: 3em 1em;
    
  }
  .popup-para{
    margin: 2em 0;
    text-align: justify;
    padding: 0 0.5em;
  }
}
@media only screen and (max-width: 350px){
  .container{
    
    grid-template-columns: repeat(2, 1fr);
    top: 4em;
  }
  .flip-card{
    width: 6.25rem;
    height: 6.25rem;
  }
}